.header-menu{
	left: 0px;
	margin-left: 50px;
	position: absolute;
	top: 0px;
	z-index: 2;
}
.logo img{
	position: absolute;
	right: 0;
	top: 0;
}
.wave{
	position: absolute;
	top: -1px;
	z-index: 2;
}
.header-menu>ul{
	/*background-color: rgb(83,211,2);*/
	height: 27px;
	z-index: 3;
}
.header-menu>ul>li{
	display: inline-block;
	padding: 0 20px;
	min-width: 120px;
	text-align: center;
}
.header-menu li a{
	color: white;
}
.header-menu ul li{
	list-style: none;
}
.page_item_has_children{
	position: relative;
}
.page_item_has_children .children{
	border-color: rgb(255,204,0);
	left: 0;
	opacity: 0;
	position: absolute;
	top: -30px;
	transition: top 0.6s linear, opacity 0.3s linear;
}
.page_item_has_children:hover .children{
	background-color: rgb(255,153,0);
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	display: block;
	opacity: 1;
	top: 25px;
}
.children li{
    box-sizing: content-box;
    display: block;
    margin: 0px 10px;
    padding: 8px 0px;
    text-align: left;
    width: 105px;
}
.children li:not(:last-of-type){
	border-bottom: 1px solid rgb(255,204,0);
}
#header-bottom img{
	height: 380px;
	width: 100%;
}